@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Bold.eot');
    src: url('../../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../../fonts/OpenSans-Bold.woff') format('woff'),
        url('../../fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Light.eot');
    src: url('../../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../../fonts/OpenSans-Light.woff') format('woff'),
        url('../../fonts/OpenSans-Light.ttf') format('truetype'),
        url('../../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../../fonts/OpenSans-Medium.eot');
    src: url('../../fonts/OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/OpenSans-Medium.woff2') format('woff2'),
        url('../../fonts/OpenSans-Medium.woff') format('woff'),
        url('../../fonts/OpenSans-Medium.ttf') format('truetype'),
        url('../../fonts/OpenSans-Medium.svg#OpenSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'roboto';
    src: url('../../fonts/roboto-black-webfont.eot');
    src: url('../../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../../fonts/roboto-black-webfont.woff') format('woff'),
         url('../../fonts/roboto-black-webfont.ttf') format('truetype'),
         url('../../fonts/roboto-black-webfont.svg#robotoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}


