$white: #fff;
$black: #000;
$lighten-gray: #ccc;
$light-gray: #898F8F;
$middle-gray: #666;
$dark-gray: #333;
$pink: #FE3FB4;
$darkpink: #BE2F8F;

$base-font-size: 14px;

$font-family: 'Open Sans';
$title-font-family: 'Roboto';
$icon-font-family: 'icomoon';



