*, 
*::after, 
*::before {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #544837;
    line-height: 26px; 
    height: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

h1 {
    margin: 0 0 30px;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}

h2 {
    margin: 0 0 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #2F281E;
}

h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #2F281E;
}

p {
    margin: 0 0 20px;
}

.header {
    padding: 17px 0;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0 auto;
    text-decoration: none;
    list-style-type: none;
}

.header li {
    padding: 0 15px;
}

.header .nav .nav-link {
    color: #2F281E;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.header .nav .nav-link:hover {
    color: #FF9900;
}

a, 
.btn-holder:hover {
    transition: all .6s ease;
}

.btn-holder {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 250px;
}

.btn.sing-in {
    background-color: #fff;
    border: 1px solid #BCD0E5;
    color: #2F281E;
    margin-right: 30px;
}

.btn.sing-in:hover {
    background-color: #FF9900;
    border-style: none;
    color: #fff;
}

.btn {
    display: inline-block;
    text-align: center;
    width: 100%;
    max-width: 110px;
    border: none;
    background-color: #FF9900;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    padding: 13px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    border: #BCD0E5;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    color: #2F281E;
}

.hero-section .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.hero-section .row .col {
    width: 45%;
    padding: 100px 0;
}

.hero-section .col:first-child {
    padding: 200px 0;
}

.col {
    float: left;
}

.hero-section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.hero-section .btn-holder .get-started {
    display: inline-block;
    border: none;
    text-align: center;
    background-color: #FF9900;
    border-radius: 4px;
    width: 180px;
    height: 50px;
    text-decoration: none;
    color: #fff;
    padding: 13px;
}

.hero-section .btn-holder .get-started:hover {
    background-color: #fff;
    border-color: #BCD0E5;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    color: #2F281E;
}

.product {
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    padding: 0;
    margin-bottom: 50px;
}

.product .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 70px 0;
}

.product h2 {
    margin: 0 auto;
    text-align: center;
    max-width: 539px;
    padding: 0 0 50px;
}

.product .row {
    margin: 0 -20px;
    padding: 0;
}

.product .row .col {
    width: 25%;
    padding: 0 20px;
}

.product .container .btn-holder {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    padding: 35px 0 0 0;
}

.benefits-section .text p {
    margin: 0 auto;
}

.btn.xl {
    display: flex;
    border: none;
    background-color: #FF9900;
    border-radius: 4px;
    width: 100%;
    max-width: 180px;
    height: 50px;
    text-decoration: none;
    color: #fff;
    padding: 13px;
    align-items: center;
    justify-content: center;
}

.btn.xl:hover {
    background-color: #ff00;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    color: #2F281E;
}

.benefits-section .container .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.benefits-section:nth-child(odd) .row {
    flex-direction: row-reverse;
}

.benefits-section .col {
    width: 50%;
    padding: 0 90px 0 0;
    margin: 80px 0;
}

.check-list .check {
    padding: 17px 0 0 0;
    text-decoration: none;
}

.check p {
    margin: 0 auto;
    padding: 0 0 0 30px;
}

.benefits-section .check .icon-check {
    width: 35px;
}

ul {
    display: block;
    margin: 0 auto;
    padding: 17px 0 0 0;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
}

li {
    display: flex;
    flex-direction: row;
    padding: 7px 0;
}

li .check p {
    display: inline-block;
    float: left;
    margin: 0 auto;
}

.reference .container .row {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    align-items: flex-start;
    padding: 40px 0 70px;
}

.reference .container .row .col {
    width: 25%;
}

.reference .container .logo {
    padding: 22px 0 0 0;
}

/*footer ul li {
    list-style: none;
    padding: 10px 0;
    margin-left: -40px;
}*/

.reference .list .list-item a {
    text-decoration: none;
    color: #2F281E;
    line-height: 26px;
}

.reference .list .list-item a:hover {
    color: #FF9900;
}

form input {
    margin: 0 auto;
    text-align: le;
    background-color: #fff;
    border-color: #BCD0E5;
    width: 100%;
    max-width: 340px;
    height: 50px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    text-decoration: none;
    color: #2F281E;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 13px;
    cursor:pointer;
}

form {
    padding: 10px 0 30px;
}

input[type="tel"]::-webkit-input-placeholder {
    color: #BCD0E5;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

input, textarea {
    outline: none;
    border: none;
}

.reference .btn-holder {
    padding: 30px 0;
}

hr {
    border: none;
    background-color: #BCD0E5;
    color:#BCD0E5;
    height: 1px;
    width: 100%;
}