@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla-Regular.eot');
    src: url('../../fonts/Karla-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Karla-Regular.woff2') format('woff2'),
        url('../../fonts/Karla-Regular.woff') format('woff'),
        url('../../fonts/Karla-Regular.ttf') format('truetype'),
        url('../../fonts/Karla-Regular.svg#Karla-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../../fonts/Karla-Bold.eot');
    src: url('../../fonts/Karla-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Karla-Bold.woff2') format('woff2'),
        url('../../fonts/Karla-Bold.woff') format('woff'),
        url('../../fonts/Karla-Bold.ttf') format('truetype'),
        url('../../fonts/Karla-Bold.svg#Karla-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

