$white: #fff;
$black: #000;
$light-black: #2F303E;
$middle-black: rgba(210, 210, 213, 0.1);
$terracotta: #A25F4B;
$light-terracotta: rgba(162, 95, 75, 0.2);
$lighten-gray: #ECECED;
$light-gray: rgba(29, 31, 46, 0.7);
$middle-gray: rgba(29, 31, 46, 0.4);
$gray: #1D1F2E;
$dark-gray: rgba(29, 31, 46, 0.1);
$dark-blue: #050827;

$base-font-size: 16px;

$font-family: 'Karla';



