*, 
*::after, 
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-family;
    font-size: $base-font-size;
    color: $dark-gray;
}

h1 {
    font-family: $title-font-family;
    font-size: 60px;
    line-height: 66px;
    text-transform: uppercase;
    color: $gold;
    margin: 0 0 40px;
}

h2 {
    font-family: $title-font-family;
    font-size: 36px;
    line-height: 42px;
    text-transform: capitalize;
    color: $middle-gray;
    margin: 0 0 30px;
}

p {
    margin: 0 0 20px;
    font-weight: 500;
    line-height: 24px;
}

.btn {
    display: inline-block;
    border: 1px solid $gold;
    color: $middle-gray;
    font-family: $btn-font-family;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    padding: 5px 10px;
    text-decoration: none;
    transition: opacity ease-in-out 0.3s;

    &:hover {
        opacity: 0.7;
    }
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}