$white: #fff;
$lighten-gray: #cccccc;
$light-gray: #898F8F;
$middle-gray: #666666;
$dark-gray: #333333;
$gold: #FFCC00;

$base-font-size: 14px;

$font-family: 'Raleway';
$title-font-family: 'Roboto';
$btn-font-family: 'Open Sans';
$icon-font-family: 'icomoon';



